.nav-wrapper {
  padding: 0 0.75rem;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  background-color: var(--color-main);
  font-size: 0.5rem;
  color: white;
  font-family: var(--font-family-logo);
  border-radius: 50%;
  font-weight: 900;
  padding: 0.2rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  margin-right: 0.75rem;
}

.nav-text {
  color: #777;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  transition: color 200ms ease-in-out;
  white-space: nowrap;
}

.logo-wrapper:hover .nav-text {
  color: white;
}

.link {
  margin-left: 2rem;
}

.link:hover {
  color: white;
}

.phone-links {
  display: none;
}

.phone-menu {
  background-color: red;
}

@media screen and (max-width: 1200px) {
  .nav-wrapper {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 576px) {
  .nav-wrapper {
    padding: 0 2rem;
  }

  .menu-short {
    display: none;
  }

  .phone-links {
    display: block;
  }

  .logo-text {
    display: none;
  }
}
